.top{
  font-size:20px;
  color:#000000;
  padding:1px 1px 1px 300px;
  background-color: #00FFFF;
}
.topsub{
  padding:1px 1px 1px 290px;
  color:#FFFF00;
  background-color:#000000;
}
.pw{
  color:#333132;
}
.des{
  width:300px;
  height:175px;
  padding:1px 20px;
  background-color:#FFC0CB;
}
.link{
  float:left;
}
span{
  font-size:5px;
}
.sol{
  padding:1px 1px 1px 10px;
  width:300px;
  height: 175px;
  background-color:#00FFFF;
  float:right;
}
.sola{
  font-size:15px;
}
.info{
  width:550px;
  height:300px;
  padding:30px 10px 1px 10px;
  background-color:#FFFF00;
}
.update{
  float:right;
  width:300px;
  height:320px;
  padding:10px 10px 1px 1px;
  background-color:#FFFACD;
}
